* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.box {
  width: 400px;
  height: 300px;
  background-color: #fff;
  border-radius: 20px;
}

.btn-area {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 20px;
}

.btn {
  padding: 10px 22px;
  border-radius: 6px;
  font-size: 16px;
  background-color: white;
  color: #222;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  border: 1px solid #fff;
  transition: all;
  transition-duration: 300;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}


.heading {
  font-size: 26px;
  text-align: center;
  color: #fff;
  margin-bottom: 12px;
}

.text {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}